
<h2>Please register an account</h2>

<form id="register-form">
  <label id="login-label" for="login">Login:</label>
  <input id="login" type="text" required name="login" [(ngModel)]="registrationForm.login"/>

  <label id="name-label" for="name">Name:</label>
  <input id="name" type="text" required name="name" [(ngModel)]="registrationForm.name"/>

  <label id="email-label" for="email">Email:</label>
  <input id="email" type="email" required name="email" [(ngModel)]="registrationForm.email"/>

  <label id="password-label" for="password">Password:</label>
  <input id="password" type="password" required name="password" [(ngModel)]="registrationForm.password"/>

  <label id="password-confirmation-label" for="password-confirmation">Confirm your password:</label>
  <input id="password-confirmation" type="password" required name="passwordConfirmation" [(ngModel)]="registrationForm.passwordConfirmation"/>

  <button id="register-btn" (click)="onRegisterClicked()">Register</button>
</form>
